<div class="wrapper">
  <!-- Navbar -->
  <app-header></app-header>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <app-side-bar></app-side-bar>

  <!-- Content Wrapper. Contains page content -->
  
    <!-- Content Header (Page header) -->
    <!-- <app-dashboard></app-dashboard> -->
    <router-outlet></router-outlet>
    <!-- /.content -->
  
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->

  <!-- Main Footer -->
  <app-footer></app-footer>
</div>
<!-- ./wrapper -->

<!-- <script>
  console.log(this.router.url+'hllo');
</script> -->